/*
Theme: RENO
Author: CSSLoss.com
Author URI: http://www.cssloss.com/
Version: 1.0
=============================================

Table of Contents

- Import Fonts
- General
  - Headings
  - Icon Font
  - Button
  - Background Image
  - Loader
- Flex Grid
  - Centering Elements
  - Asymetric Column
- Section Elements
  - Logo
- Site Navigation
  - Toggle
  - Menu
- Resume Elements
  - About
  - Progress Bar
  - Icon Box
  - Portfolio Gallery
  - Contact Section
- Helper Classes
  - Margin
  - Padding
  - Letter Spacing
  - Text Alignment

*/
/*
Import Fonts
==================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/*
General
==================================================================================================== */

body {
  font-family:      'Roboto', sans-serif;
  font-size:        14px;
  line-height:      1.71428572;
  color:            #333333;
  overflow-x:       hidden;
  position:         relative;
  min-height:       100vh;
  background-color: #efefef;
}

body {
  color: #ffffff;
}

body,
input,
textarea,
button {
  text-rendering:          optimizeLegibility;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 500;
}

img {
  width:   100%;
  height:  auto;
  display: block;
}

a {
  color: #ff9800;
}

a:hover,
a:focus {
  color:           #ff5722;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

ul,
li {
  list-style: none;
  margin:     0;
  padding:    0;
}

:focus {
  outline: none;
}

/* Headings
============================================= */

h1, h2, h4 {
  font-weight:    400;
  letter-spacing: 1px;
  text-rendering: optimizelegibility;
}

/* Icon Font
============================================= */

@font-face {
  font-family: 'pe-icon-7-combo';
  src:         url('../fonts/pe-icon-7-combo.eot?10abtg');
  src:         url('../fonts/pe-icon-7-combo.eot?10abtg#iefix') format('embedded-opentype'),
               url('../fonts/pe-icon-7-combo.ttf?10abtg') format('truetype'),
               url('../fonts/pe-icon-7-combo.woff?10abtg') format('woff'),
               url('../fonts/pe-icon-7-combo.svg?10abtg#pe-icon-7-combo') format('svg');
  font-weight: normal;
  font-style:  normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:             'pe-icon-7-combo', sans-serif !important;
  font-style:              normal;
  font-weight:             normal;
  font-variant:            normal;
  color:                   currentColor;
  line-height:             1;
  text-align:              center;
  text-transform:          none;
  display:                 inline-block;
  vertical-align:          middle;
  speak:                   none;
  width:                   1em;
  height:                  1em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paint-bucket:before {
  content: "\e6bd";
}

.icon-close-circle:before {
  content: "\e6a6";
}

.icon-paper-plane:before {
  content: "\e711";
}

.icon-exapnd2:before {
  content: "\e742";
}

.icon-drop:before {
  content: "\e744";
}

.icon-check:before {
  content: "\e756";
}

.icon-drupal:before {
  content: "\e626";
}

.icon-github:before {
  content: "\e63c";
}

.icon-linkedin:before {
  content: "\e658";
}

.icon-twitter:before {
  content: "\e68d";
}

/* Button
============================================= */

.btn {
  color:              #333333;
  line-height:        1;
  letter-spacing:     1px;
  text-transform:     uppercase;
  padding:            18px 35px;
  background-color:   transparent;
  border-color:       currentColor;
  border-radius:      0;
  -webkit-transition: color .6s, background-color .6s;
  transition:         color .6s, background-color .6s;
}

.btn:hover,
.btn:focus {
  color:            #ffffff;
  background-color: #333333;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:focus:active {
  outline:            0;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

/* Background Image
============================================= */

.bg-image {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center;
  color:               #ffffff;
}

.bg-image.overlay {
  color: #ffffff;
}

.bg-image.overlay:before {
  content:          "";
  position:         absolute;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index:          1;
}

.main-bg {
  position: fixed !important;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
  z-index:  0;
}

/* Loader
============================================= */

.loader-wrapper {
  position:         fixed;
  width:            100%;
  height:           100%;
  background-color: #000000;
  z-index:          9999;
}

.loader {
  height:           2px;
  background-color: #ffffff;
  position:         absolute;
  z-index:          9999;
}

/*
Flex Grid
==================================================================================================== */

.row {
  display:           -webkit-box;
  display:           -webkit-flex;
  display:           -ms-flexbox;
  display:           flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap:     wrap;
  flex-wrap:         wrap;
}

.row:before,
.row:after {
  content: none;
}

.col-xs-12, .col-sm-6, .col-md-3, .col-md-6, .col-lg-3, .col-lg-9 {
  -webkit-box-flex: 0;
  -webkit-flex:     0 0 100%;
  -ms-flex:         0 0 100%;
  flex:             0 0 100%;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex:     0 0 100%;
  -ms-flex:         0 0 100%;
  flex:             0 0 100%;
}

@media (min-width: 768px) {

  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex:     0 0 50%;
    -ms-flex:         0 0 50%;
    flex:             0 0 50%;
  }
}

@media (min-width: 992px) {

  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex:     0 0 25%;
    -ms-flex:         0 0 25%;
    flex:             0 0 25%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex:     0 0 50%;
    -ms-flex:         0 0 50%;
    flex:             0 0 50%;
  }
}

@media (min-width: 1200px) {

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex:     0 0 25%;
    -ms-flex:         0 0 25%;
    flex:             0 0 25%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex:     0 0 75%;
    -ms-flex:         0 0 75%;
    flex:             0 0 75%;
  }
}

/*
Centering Elements
============================================= */

/*
Asymetric Column
============================================= */

.section-header {
  position: relative;
}

@media (min-width: 1200px) {
  .section-header {
    text-align: right;
  }
}

.section-header h2 {
  font-size:      16px;
  font-weight:    500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top:     5px;
}

.asymetric > .col-lg-3,
.asymetric > .col-lg-9 {
  padding: 25px 15px;
}

.asymetric > .col-lg-3 {
  background-color: rgba(0, 0, 0, 0.04);
  border:           1px solid #d6d6d6;
  border-width:     1px 0;
}

.asymetric > .col-lg-3 > div,
.asymetric > .col-lg-9 > div {
  -webkit-box-flex: 0;
  -webkit-flex:     0 0 100%;
  -ms-flex:         0 0 100%;
  flex:             0 0 100%;
}

@media (min-width: 768px) {
  .asymetric > .col-lg-3,
  .asymetric > .col-lg-9 {
    padding: 40px 50px;
  }
}

@media (min-width: 1200px) {
  .asymetric > .col-lg-3,
  .asymetric > .col-lg-9 {
    padding:             70px;
    background-color:    rgba(0, 0, 0, 0.015);
    display:             -webkit-box;
    display:             -webkit-flex;
    display:             -ms-flexbox;
    display:             flex;
    -webkit-box-align:   start;
    -webkit-align-items: flex-start;
    -ms-flex-align:      start;
    align-items:         flex-start;
  }

  .asymetric > .col-lg-3 {
    padding-left:            15px;
    border-width:            0;
    -webkit-box-pack:        end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack:           end;
    justify-content:         flex-end;
  }

  .asymetric:nth-child(2n+1) > .col-lg-3 {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .asymetric:nth-child(2n+2) > .col-lg-9 {
    background-color: transparent;
  }

  .asymetric > .col-lg-9 {
    -webkit-box-pack:        start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack:           start;
    justify-content:         flex-start;
  }
}

/*
Section
==================================================================================================== */

.section-intro,
.section-resume,
.resume-close {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style:     preserve-3d;
  transform-style:         preserve-3d;
  -webkit-transition:      all .8s cubic-bezier(0.645, .045, .095, 1.08);
  transition:              all .8s cubic-bezier(0.645, .045, .095, 1.08);
}

.section-intro {
  position:          fixed;
  top:               0;
  left:              0;
  width:             100%;
  height:            100%;
  overflow:          hidden;
  -webkit-transform: translateX(0);
  -ms-transform:     translateX(0);
  transform:         translateX(0);
}

.section-resume {
  position:                    fixed;
  top:                         0;
  right:                       0;
  width:                       75%;
  height:                      100%;
  margin-left:                 25%;
  color:                       #333333;
  background-color:            #ffffff;
  overflow-y:                  auto;
  z-index:                     2;
  -webkit-backface-visibility: hidden;
  backface-visibility:         hidden;
  -webkit-transform:           translateX(100%);
  -ms-transform:               translateX(100%);
  transform:                   translateX(100%);
}

.resume-close {
  width:            100%;
  position:         absolute;
  height:           100%;
  top:              0;
  left:             auto;
  right:            0;
  display:          block;
  visibility:       hidden;
  opacity:          0;
  background-color: rgba(0, 0, 0, .8)
}

/* Logo
============================================= */

.logo {
  display:  inline-block;
  width:    250px;
  height:   75px;
  position: absolute;
  top:      20px;
  left:     20px;
  z-index:  1;
}

@media (min-width: 768px) {
  .logo {
    width:  350px;
    height: 100px;
    top:    10px;
    left:   10px;
  }
}

.logo img {
  width:  100%;
  height: auto;
}

.intro-row {
  min-height:              100vh;
  -webkit-box-pack:        center;
  -webkit-justify-content: center;
  -ms-flex-pack:           center;
  justify-content:         center;
  -webkit-box-align:       center;
  -webkit-align-items:     center;
  -ms-flex-align:          center;
  align-items:             center;
  -webkit-align-content:   center;
  -ms-flex-line-pack:      center;
  align-content:           center;
}

.intro-text {
  position:   relative;
  text-align: center;
}

.intro-text h1 {
  font-family: 'Roboto', sans-serif;
  font-size:   32px;
  font-weight: 400;
}

.typed-strings {
  display: none;
}

@media (min-width: 768px) {
  .intro-text h1 {
    font-size: 48px;
  }
}

@media (min-width: 992px) {
  .intro-text h1 {
    font-size: 70px;
  }
}

/*
Site Navigation
==================================================================================================== */

/* Toggle
============================================= */

button.wave {
  background:          none;
  border:              none;
  -webkit-appearance:  none;
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none;
  padding:             0;
  color:               #ffffff;
  z-index:             3;
  width:               30px;
  height:              22px;
  overflow:            hidden;
}

button.nav-toggle {
  position: absolute;
  top:      30px;
  right:    20px;
}

@media (min-width: 768px) {
  button.nav-toggle {
    right: 30px;
  }
}

button.wave i {
  display:            block;
  position:           absolute;
  top:                0;
  left:               -30px;
  width:              60px;
  height:             2px;
  border-radius:      50px;
  background-color:   currentColor;
  -webkit-transition: all 0.4s ease-out;
  transition:         all 0.4s ease-out;
}

button.wave.flipped i {
  left:  auto;
  right: -30px;
}

button.wave i:nth-child(2) {
  top:  10px;
  left: -40px;
}

button.wave.flipped i:nth-child(2) {
  left:  auto;
  right: -40px;
}

button.wave i:nth-child(3) {
  top: 20px;
}

/* Menu
============================================= */

.menu {
  position:    fixed;
  top:         80px;
  left:        10px;
  font-family: 'Roboto', sans-serif;
  z-index:     3;
}

.menu.bott {
  top:    auto;
  bottom: 200px;
}

.menu.left {
  -webkit-transform-origin: 14px;
  transform-origin:         12px;
}

/* Altered from -90 to 90 */
.menu.bott.left {
  -webkit-transform: rotate(90deg);
  transform:         rotate(90deg);
}

@media (min-width: 768px) {
  .menu {
    left: 20px;
  }
}

@media (min-width: 992px) {
  .menu {
    left: 32px;
  }

  .menu.bott {
    top:    auto;
    bottom: 190px;
  }
}

.menu ul {
  display:    inline-block;
  text-align: left;
  width:      400px;
}

.menu.bott ul {
  text-align: right;
}

.menu.bott.left ul {
  -webkit-transform: rotate(180deg);
  transform:         rotate(180deg);
}

.menu ul li {
  display: inline-block;
  margin:  0 15px;
}

.menu ul li a {
  position:           relative;
  display:            block;
  font-size:          10px;
  letter-spacing:     3px;
  text-transform:     uppercase;
  color:              rgba(255, 255, 255, .5);
  -webkit-transition: all .5s ease;
  transition:         all .5s ease;
}

.menu ul li a:hover {
  color: #ffffff;
}

.menu ul li span.active {
  color:         #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.menu ul li a:hover {
  color: #ffffff;
}

/* nav social */
.nav-social {
  position:           fixed;
  right:              5px;
  bottom:             20px;
  width:              40px;
  opacity:            1;
  visibility:         visible;
  z-index:            3;
  -webkit-transition: opacity .6s, visibility .6s;
  transition:         opacity .6s, visibility .6s;
}

@media (min-width: 768px) {
  .nav-social {
    bottom: 90px;
    right:  20px;
    height: 120px;
  }
}

.nav-social ul li {
  display: inline-block;
}

.nav-social ul li a {
  display:            inline-block;
  color:              #ffffff;
  -webkit-transition: all .6s ease;
  transition:         all .6s ease;
}

.nav-social ul li a:hover {
  -webkit-transform: scale(1.5);
  -ms-transform:     scale(1.5);
  transform:         scale(1.5);
}

.nav-social ul li a i {
  font-size:   12px;
  line-height: 40px;
  width:       40px;
  height:      40px;
}

/*
Resume Elements
==================================================================================================== */

/* About
============================================= */

.info-list {
  margin: -10px -15px;
}

.info-list li {
  padding: 10px 15px;
}

.info-list li strong {
  display:        block;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info-list li a {
  display: block;
  color:   currentColor;
}

.info-list li a:hover,
.info-list li a:focus {
  color: #ff9800;
}

.info-list li span {
  display: block;
}

/* Progress Bar
============================================= */

.progress {
  position:           relative;
  height:             auto;
  padding:            10px;
  padding-left:       0;
  margin-bottom:      20px;
  letter-spacing:     1px;
  background-color:   transparent;
  overflow:           visible;
  border-radius:      0;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

.progress-info {
  position:       relative;
  font-size:      12px;
  font-weight:    500;
  line-height:    20px;
  text-transform: uppercase;
}

.progress-bar {
  position:           absolute;
  bottom:             0;
  left:               0;
  height:             5px;
  color:              currentColor;
  font-size:          12px;
  background-color:   currentColor;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

.progress-bar .value {
  position: absolute;
  right:    0;
  bottom:   10px;
}

/* Timeline
============================================= */

.timeline li {
  position:    relative;
  border-left: 2px solid;
  padding:     0 0 20px 20px;
}

@media (min-width: 768px) {
  .timeline li {
    padding: 0 0 40px 30px;
  }
}

.timeline li:last-child {
  border-color:   transparent;
  padding-bottom: 0;
}

.timeline li:before {
  content:          '';
  width:            10px;
  height:           10px;
  position:         absolute;
  top:              0;
  left:             -6px;
  border-radius:    50px;
  background-color: currentColor;
}

.timeline li .title {
  font-size:   16px;
  font-weight: 500;
  margin:      0;
}

.timeline li:first-child .title {
  margin-top: 10px;
}

.timeline .time {
  display: block;
  padding: 6px 0;
}

/* Icon Box
============================================= */

.icon-box {
  padding-bottom:    30px;
  display:           -webkit-box;
  display:           -webkit-flex;
  display:           -ms-flexbox;
  display:           flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap:     wrap;
  flex-wrap:         wrap;
}

.box-icon {
  width: 60px;
}

.box-icon .icon {
  margin-bottom:    15px;
  font-size:        40px;
  width:            60px;
  height:           60px;
  line-height:      60px;
  background-color: rgba(0, 0, 0, 0.04);
  border-bottom:    2px solid;
}

.box-content {
  padding-left:     20px;
  -webkit-box-flex: 1;
  -webkit-flex:     1;
  -ms-flex:         1;
  flex:             1;
}

/* Portfolio Gallery
============================================= */

/* Contact
============================================= */

.form-control,
.form-control:focus {
  color:              currentColor;
  border-color:       currentColor;
  -webkit-box-shadow: none;
  box-shadow:         none;
  -webkit-appearance: none;
}

.form-control {
  height:           40px;
  border-width:     0 0 1px;
  border-radius:    0;
  background-color: transparent;
  margin:           0 0 10px;
  padding:          10px 0;
}

.form-control::-webkit-input-placeholder {
  color: currentColor;
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: currentColor;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: currentColor;
}

.form-control:-ms-input-placeholder {
  color: currentColor;
}

p.send-status {
  display: none;
  margin:  0 0 40px;
}

p.send-status .icon {
  font-size:      32px;
  margin-right:   8px;
  vertical-align: middle;
}

/* Helper Classes
==================================================================================================== */

/* Margin
============================================= */

/* margin left */

/* margin right */

/* margin top */

.m-t-40 {
  margin-top: 40px !important;
}

/* margin bottom */

/* margin horizontal */

/* margin vertical */

/* Padding
============================================= */

/* padding horizontal */

/* padding vertical */

.p-y-40 {
  padding-top:    40px !important;
  padding-bottom: 40px !important;
}

/* padding left */

/* padding right */

/* padding top */

.p-t-30 {
  padding-top: 30px !important;
}

/* padding bottom */

/* Letter Spacing
============================================= */

/* Text Alignment
============================================= */

.bg-image {
  background-position: right;
}
